<!-- Please remove this file from your project -->
<template>
  <div class="w-96">
    <header class="w-96 -inset-0">
      <div class="bg-white login-section h-16 items-center justify-end flex pr-5">
        <a href="#" class="text-green-300 items-center">Login</a>
      </div>   
      <section>
        <div class="header-title pt-4 text-center	flex justify-center items-center w-96">
          <h2 class="text-5xl w-9/12 leading-tight text-gray-800">Deine Job website</h2>
        </div>
        <div class="header-img w-96">
          <img src='@/assets/img/undraw_agreement_aajr.svg'/>
        </div>
      </section>
      
    </header>
    <section class="register-btn-sec flex w-96 p-5 pb-16 rounded-tr-2xl rounded-tl-2xl">
        <button class="rounded-xl w-full text-white p-3">Kostenlos Registrieren</button>
      </section>
  <div class="flex flex-wrap">
    <div class="w-full">
      <ul class="flex mb-0 list-none  flex-nowrap overflow-x-scroll pt-8 pb-4 flex-row">
        <li class="-mb-px last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 rounded-bl-lg rounded-tl-lg block leading-normal cursor-pointer" v-on:click="toggleTabs(1)" v-bind:class="{'text-green-400 bg-white border border-gray-300': openTab !== 1, 'text-white bg-green-400 border border-green-400': openTab === 1}">
            Arbeitnehmer
          </a>
        </li>
        <li class="-mb-px last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 rounded-none block leading-normal cursor-pointer" v-on:click="toggleTabs(2)" v-bind:class="{'text-green-400 bg-white border border-gray-300': openTab !== 2, 'text-white bg-green-400 border border-green-400': openTab === 2}">
            Arbeitgeber
          </a>
        </li>
        <li class="-mb-px last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 rounded-br-lg rounded-tr-lg block leading-normal cursor-pointer " v-on:click="toggleTabs(3)" v-bind:class="{'text-green-400 bg-white border border-gray-300': openTab !== 3, 'text-white bg-green-400 border border-green-400': openTab === 3}">
            Temporärbüro
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="py-5 flex-auto">
          <div class="tab-content tab-space">
            <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
              <div class="text-center	flex justify-center items-center "><h3 class="text-lg text-gray-600  w-9/12 ">Drei einfache Schritte zu deinem neuen Job</h3></div>
              <div class="flex mt-8 px-4">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-end">1.</div>
                <div class="right-panel w-9/12">
                  <img src='@/assets/img/undraw_Profile_data_re_v81r.svg' class="mb-8"/>
                  <span class="text-base text-gray-500 ml-8">Erstellen dein Lebenslauf</span>
                </div>
              </div>
              <div class="flex mt-8 green-bg px-4 py-5 pl-10">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start ">2.</div>
                <div class="right-panel w-9/12 mt-24">
                  <span class="text-base text-gray-500 ml-10">Erstellen dein Lebenslauf</span> 
                  <img src='@/assets/img/undraw_task_31wc.svg' class="mt-8"/>              
                </div>
              </div>
              <div class="flex mt-8 px-4 py-5 pl-14">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start">3.</div>
                <div class="right-panel w-9/12 mt-20">
                  <span class="text-base text-gray-500 ml-8 w-8/12 block">Mit nur einem Klick bewerben</span> 
                  <img src='@/assets/img/undraw_personal_file_222m.svg' class="mt-8"/>              
                </div>
              </div>
            </div>
            <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
              <div class="text-center	flex justify-center items-center "><h3 class="text-lg text-gray-600  w-9/12 ">Drei einfache Schritte zu deinem neuen Job</h3></div>
              <div class="flex mt-8 px-4">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-end">1.</div>
                <div class="right-panel w-9/12">
                  <img src='@/assets/img/undraw_Profile_data_re_v81r.svg' class="mb-8"/>
                  <span class="text-base text-gray-500 ml-8">Erstellen dein Lebenslauf</span>
                </div>
              </div>
              <div class="flex mt-8 green-bg px-4 py-5 pl-10">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start">2.</div>
                <div class="right-panel w-9/12 mt-24">
                  <span class="text-base text-gray-500 ml-10">Erstellen dein Lebenslauf</span> 
                  <img src='@/assets/img/undraw_about_me_wa29.svg' class="mt-8"/>              
                </div>
              </div>
              <div class="flex mt-8 px-4 py-5 pl-14">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start">3.</div>
                <div class="right-panel w-9/12 mt-20">
                  <span class="text-base text-gray-500 ml-8 w-8/12 block">Mit nur einem Klick bewerben</span> 
                  <img src='@/assets/img/undraw_swipe_profiles1_i6mr.svg' class="mt-8"/>              
                </div>
              </div>
            </div>
            <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
              <div class="text-center	flex justify-center items-center "><h3 class="text-lg text-gray-600  w-9/12 ">Drei einfache Schritte zu deinem neuen Job</h3></div>
              <div class="flex mt-8 px-4">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-end">1.</div>
                <div class="right-panel w-9/12">
                  <img src='@/assets/img/undraw_Profile_data_re_v81r.svg' class="mb-8"/>
                  <span class="text-base text-gray-500 ml-8">Erstellen dein Lebenslauf</span>
                </div>
              </div>
              <div class="flex mt-8 green-bg px-4 py-5 pl-10">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start">2.</div>
                <div class="right-panel w-9/12 mt-24">
                  <span class="text-base text-gray-500 ml-10">Erstellen dein Lebenslauf</span> 
                  <img src='@/assets/img/undraw_job_offers_kw5d.svg' class="mt-8"/>              
                </div>
              </div>
              <div class="flex mt-8 px-4 py-5 pl-14">
                <div class="left-panel w-3/12 text-9xl text-gray-500 flex items-start">3.</div>
                <div class="right-panel w-9/12 mt-20">
                  <span class="text-base text-gray-500 ml-8 w-8/12 block">Mit nur einem Klick bewerben</span> 
                  <img src='@/assets/img/undraw_business_deal_cpi9.svg' class="mt-8"/>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  name: "pink-tabs",
  data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
    }
  }
}
</script>