/* .login-section {
    linearGradient: linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0%,
        box-shadow: 0px 3px 6px #00000029,
        border-radius: 0px 0px 12px 12px,
} */
body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #E6FFFA;
}

.login-section {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 12px 12px;
    border-top-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #319795, #3182CE) 1 0 0 0;
}

.register-btn-sec {
    box-shadow: 0px -1px 3px #00000033;
    border-bottom: 1px solid #ccc;
}

.register-btn-sec button {
    background-image: linear-gradient(to right, #319795, #3182CE);
}

.green-bg {
    background-color: #E6FFFA;
}